[submodule ".registry"]
	path = .registry
	url = https://github.com/ku-awdc/ku-awdc.r-universe.dev
	branch = HEAD
[submodule "IPDMR"]
	path = IPDMR
	url = https://github.com/ku-awdc/IPDMR
	branch = v0.5.0
