[submodule ".registry"]
	path = .registry
	url = https://github.com/ku-awdc/ku-awdc.r-universe.dev
	branch = HEAD
[submodule "EpiLinx"]
	path = EpiLinx
	url = https://github.com/ku-awdc/EpiLinx
	branch = v0.2.0
[submodule "IPDMR"]
	path = IPDMR
	url = https://github.com/ku-awdc/IPDMR
	branch = v0.5.2
[submodule "koalas"]
	path = koalas
	url = https://github.com/ku-awdc/koalas
	branch = V0.3.1
